body {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  border: 1px solid grey;
  border-radius: 16px;
  margin-top: 150px;
  padding: 40px;
  text-align: center;
  width: 500px;
}

.form-field {
  margin-top: 20px;
  margin-left: 0;
}

.alert-msg {
  text-align: center;
  width: 600px;
  position: absolute;
  top: 175px;
}

.menu-bar {
  width: 700px;
  margin-top: 50px;
  padding: 8px 16px;
}

.google-cta {
  margin-top: 40px;
}

.bi-google {
  margin-bottom: 4px;
}