body {
  display:flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  border: 1px solid grey;
  border-radius: 16px;
  margin-top: 150px;
  padding: 40px;
  text-align: center;
  width: 500px;
}

.form-container-2 {
  text-align: center;
}

.form-field {
  margin-top: 20px;
  margin-left: 0;
}

.alert-msg {
  text-align: center;
  width: 600px;
  position: absolute;
  top: 175px;
}

.menu-bar {
  width: 700px;
  margin-top: 50px;
  padding: 8px 16px;
}

.google-cta {
  margin-top: 40px;
}

.bi-google {
  margin-bottom: 4px;
}

.heading-2 {
  margin-top: 60px;
}

.form{
  position: relative;
  width: 500px;
  margin: 20px auto 60px;
}

.btn-search {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 16px;
  border-radius: 0 10px 10px 0;
}

.btn-search:hover {
  box-shadow: 1px 2px 2px #9ca3af;
}

.form-input {
  height: 46px;
  text-indent: 10px;
  border: 1px solid #d1d5db;
  border-radius: 10px;
}

.form-input:focus{
  box-shadow: 1px 2px 6px #9ca3af;
  border: 1px solid #d1d5db;
}

.list-container {
  width: 800px;
  margin: 60px auto;
}
