<%- include('../partials/header') %>
<body class="h-100">
  <div class="form-container">
    <h3>Upload a file</h3>
    <form action="/upload" method="post" enctype="multipart/form-data">
      <div class="custom-file form-group row form-field">
        <input type="file" class="custom-file-input form-control" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" id="file" name="file" required>
      </div>      
      <button type="submit" class="btn btn-outline-dark btn-lg form-field">Upload</button>
    </form>
  </div>
</body>
<%- include('../partials/footer') %>
